<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Simple Node.js Todo List on AWS</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

    {{{body}}}

</html>
