<h1 id="signup_h1">To Do List Signup</h1>
<div id="signup">
    <form method="post" action="/signup">
        <p>
            <label for="username">Username</label><br />
            <input type="text" name="username" placeholder="Username" />
        </p>
        <p>
            <label for="password">Password</label><br />
            <input type="password" name="password" placeholder="Password" />
        </p> 
        <p>
            <label for="password2">Retype Password</label><br />
            <input type="password" name="password2" placeholder="Retype Password" />
        </p>     
        <p>
            <input type="submit" value="Submit" />
        </p>               
    </form>
</div>